* {
    margin: 0;
    padding: 0;
    text-align: center;
}

body {
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#container {
    width: 50%;
    height: 50%;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container {
    width: 500px;
    height: 500px;
    border: 2px solid black;
    background: #000;
    overflow: hidden;
}